<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" translate="PROFILE.PERSONAL_INFO.TITLE"></h3>
    </div>
    <button *appCanEdit="PERMISSION_ROUTE" (click)="toggleEditMode()" class="btn align-self-center cursor-pointer"
      [ngClass]="isEditing ? 'btn-danger' : 'btn-primary' ">
      <span [translate]="isEditing ? 'BUTTONS.CANCEL' : 'BUTTONS.EDIT'"></span>
    </button>
  </div>

  <div class="card-body p-9">
    <div *ngIf="isLoading$ | async" class="text-center py-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden" translate="COMMON.LOADING"></span>
      </div>
    </div>
    <div *ngIf="!isEditing && !(isLoading$ | async)">
      <div class="row mb-7">
        <label class="col-lg-4 fw-bold text-muted" translate="PROFILE.PERSONAL_INFO.FIELDS.FULL_NAME"></label>
        <div class="col-lg-8">
          <span class="fw-bolder fs-6 text-gray-900">
            {{ (user!.person.names || '') + ' ' + (user!.person.lastNames || '') }}
          </span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-bold text-muted" translate="PROFILE.PERSONAL_INFO.FIELDS.IDENTIFICATION"></label>
        <div class="col-lg-8">
          <span class="fw-bolder fs-6 text-gray-900">{{ user!.person.identification ||
            ('PROFILE.PERSONAL_INFO.NOT_AVAILABLE' | translate) }}</span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-bold text-muted" translate="PROFILE.PERSONAL_INFO.FIELDS.BIRTH_DATE"></label>
        <div class="col-lg-8">
          <span class="fw-bolder fs-6 text-gray-900"> {{ user?.person?.birthDate ? (user!.person.birthDate |
            date:'dd/MM/yyyy') : ('PROFILE.PERSONAL_INFO.NOT_AVAILABLE' | translate) }}
          </span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-bold text-muted" translate="PROFILE.PERSONAL_INFO.FIELDS.ADDRESS"></label>
        <div class="col-lg-8">
          <span class="fw-bolder fs-6 text-gray-900">{{ user!.person.address || ('PROFILE.PERSONAL_INFO.NOT_AVAILABLE' |
            translate) }}</span>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-bold text-muted" translate="PROFILE.PERSONAL_INFO.FIELDS.CONTACT"></label>
        <div class="col-lg-8">
          <div class="fw-bolder fs-6 text-gray-900">
            <div *ngIf="user!.person.phone">{{ 'PROFILE.PERSONAL_INFO.CONTACT_LABELS.PHONE' | translate }} {{
              user!.person.phone }}</div>
            <div *ngIf="user!.person.mobilePhone">{{ 'PROFILE.PERSONAL_INFO.CONTACT_LABELS.MOBILE_1' | translate }} {{
              user!.person.mobilePhone }}</div>
            <div *ngIf="user!.person.mobilePhone2">{{ 'PROFILE.PERSONAL_INFO.CONTACT_LABELS.MOBILE_2' | translate }} {{
              user!.person.mobilePhone2 }}</div>
            <div *ngIf="!user!.person.phone && !user!.person.mobilePhone && !user!.person.mobilePhone2"
              translate="PROFILE.PERSONAL_INFO.NOT_AVAILABLE"></div>
          </div>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-bold text-muted" translate="PROFILE.PERSONAL_INFO.FIELDS.EMAIL"></label>
        <div class="col-lg-8">
          <a href="mailto:{{ user!.person.email }}" class="fw-bolder fs-6 text-gray-900 text-hover-primary">
            {{ user!.person.email || ('PROFILE.PERSONAL_INFO.NOT_AVAILABLE' | translate) }}
          </a>
        </div>
      </div>

      <div class="row mb-7">
        <label class="col-lg-4 fw-bold text-muted" translate="PROFILE.PERSONAL_INFO.FIELDS.EMERGENCY_CONTACT"></label>
        <div class="col-lg-8">
          <div class="fw-bolder fs-6 text-gray-900">
            <div>{{ user!.person.emergencyContactName || '' }}</div>
            <div>{{ user!.person.emergencyContactPhone || '' }}</div>
            <div *ngIf="!user!.person.emergencyContactName && !user!.person.emergencyContactPhone"
              translate="PROFILE.PERSONAL_INFO.NOT_AVAILABLE"></div>
          </div>
        </div>
      </div>
    </div>

    <app-personal-profile-details *ngIf="isEditing" [user]="user"
      (saveCompleted)="onSaveCompleted()"></app-personal-profile-details>
  </div>
</div>
