<!-- First Section: Search Info -->
<div class="card card-xl-stretch mb-xl-8">
  <div class="card-header border-0 pt-5 d-flex justify-content-between align-items-center">
    <h4 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Buscar por número de control</span>
    </h4>

    <div class="d-flex gap-2">
      <!-- Back Button -->
      <button *ngIf="hasRouteId" type="button" class="btn btn-light btn-sm" (click)="goBack()">
        <i class="bi bi-arrow-left me-1"></i> Volver
      </button>

      <!-- New Button -->
      <button *ngIf="localSaleId" type="button" class="btn btn-outline-success btn-sm" (click)="handleNewSale()">
        <i class="bi bi-plus-circle me-1"></i> Nuevo
      </button>
    </div>
  </div>
  <div class="card-body py-3">
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center gap-4">
        <!-- Control Number Input -->
        <input type="text" id="controlNumber" name="controlNumber" class="form-control form-control-sm text-end"
          placeholder="LC-0" style="max-width: 180px" [disabled]="!!localSaleId" [(ngModel)]="controlNumber" />

        <!-- Search Button -->
        <button *ngIf="!localSaleId" class="btn btn-outline-primary btn-sm d-flex align-items-center gap-2"
          (click)="searchPurchase()">
          <i class="bi bi-search"></i> Buscar
        </button>
      </div>

      <!-- Required Message -->
      <div *ngIf="searchSubmitted && !controlNumber" class="text-danger mt-1 ms-1 small">
        El número de control es obligatorio.
      </div>
    </div>

  </div>
</div>
<!-- end::First Section: Search Info -->

<!-- Second Section: Purchase Info -->
<div class="card card-xl-stretch mb-xl-8 mt-2">

  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h4 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Información de la Compra</span>
    </h4>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">

    <div class="row g-5 g-xl-8">
      <!-- Purchase Date -->
      <div class="col-md-6">
        <label for="purchaseDate" class="fw-semibold fs-6 mb-2">Fecha de la compra</label>
        <input type="date" class="form-control form-control-sm" id="purchaseDate" name="purchaseDate"
          [(ngModel)]="purchaseDateFormatted" disabled>
      </div>

      <!-- Buyer -->
      <div class="col-md-6">
        <label for="buyer" class="fw-semibold fs-6 mb-2">Comprador Responsable</label>
        <input type="text" id="buyer" name="buyer" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.buyer.fullName" disabled />
      </div>

      <!-- Client -->
      <div class="col-md-6">
        <label for="company" class="fw-semibold fs-6 mb-2">Propietario de la Piscina</label>
        <input type="text" id="company" name="company" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.client.fullName" disabled />
      </div>

      <!-- Shrimp Farm -->
      <div class="col-md-6">
        <label for="shrimpFarm" class="fw-semibold fs-6 mb-2">Nombre de la Piscina</label>
        <input type="text" id="shrimpFarm" name="shrimpFarm" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.shrimpFarm.identifier" disabled />
      </div>

      <!-- Farm Place-->
      <div class="col-md-6">
        <label for="farmPlace" class="fw-semibold fs-6 mb-2">Ubicación de la Piscina</label>
        <input type="text" id="farmPlace" name="farmPlace" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.shrimpFarm.place" disabled />
      </div>

      <!-- Total pounds -->
      <div class="col-md-6">
        <label for="transportationMethod" class="fw-semibold fs-6 mb-2">Total Lb. compradas</label>
        <input type="text" id="transportationMethod" name="transportationMethod" class="form-control form-control-sm"
          [value]="purchaseModel.totalPounds | number: '1.2-2'" disabled />
      </div>
    </div>
  </div>
</div>
<!-- end::Second Section: Purchase Info -->

<!-- Sale Form -->
<form #saleForm="ngForm" novalidate>

  <!-- Third Section: Sale Info -->
  <div class="card card-xl-stretch mb-xl-8 mt-2">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-8">
      <h4 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Información de la Venta</span>
      </h4>
    </div>
    <!-- end::Header -->

    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Row -->
      <div class="row g-5 g-xl-8">

        <!-- Sale Date -->
        <div class="col-md-6">
          <label for="saleDate" class="required fw-semibold fs-6 mb-2">Fecha de venta</label>
          <input type="date" class="form-control form-control-sm" id="saleDate" name="saleDate"
            [ngModel]="saleDateFormatted" (ngModelChange)="onDateChange($event)" required #saleDate="ngModel">
          <div *ngIf="(saleForm.submitted || saleDate.dirty || saleDate.touched) && saleDate.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div>La fecha de venta es obligatoria.</div>
          </div>
        </div>

        <!-- Seller -->
        <div class="col-md-6">
          <label for="seller" class="required fw-semibold fs-6 mb-2">Vendedor Responsable</label>
          <input type="text" id="seller" name="seller" [(ngModel)]="localSaleModel.seller" #seller="ngModel"
            class="form-control form-control-sm" required />
          <div *ngIf="(saleForm.submitted || seller.dirty || seller.touched) && seller.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El vendedor es obligatorio.
          </div>
        </div>

        <!-- wholeRejectedPounds -->
        <div class="col-md-6">
          <label for="wholeRejectedPounds" class="required fw-semibold fs-6 mb-2">Lb. rechazo (Cabeza)</label>
          <input type="text" id="wholeRejectedPounds" name="wholeRejectedPounds"
            [(ngModel)]="localSaleModel.wholeRejectedPounds" #wholeRejectedPounds="ngModel"
            class="form-control form-control-sm" required (keypress)="validateNumber($event)"
            (blur)="formatDecimal('wholeRejectedPounds')" />
          <div
            *ngIf="(saleForm.submitted || wholeRejectedPounds.dirty || wholeRejectedPounds.touched) && wholeRejectedPounds.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- trashPounds -->
        <div class="col-md-6">
          <label for="trashPounds" class="required fw-semibold fs-6 mb-2">Lb. basura</label>
          <input type="text" id="trashPounds" name="trashPounds" [(ngModel)]="localSaleModel.trashPounds"
            #trashPounds="ngModel" class="form-control form-control-sm" required (keypress)="validateNumber($event)"
            (blur)="formatDecimal('trashPounds')" />
          <div
            *ngIf="(saleForm.submitted || trashPounds.dirty || trashPounds.touched) && trashPounds.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- wholeTotalPounds -->
        <div class="col-md-6">
          <label for="wholeTotalPounds" class="fw-semibold fs-6 mb-2">Total Lb. Cabeza</label>
          <input type="text" id="wholeTotalPounds" name="wholeTotalPounds" class="form-control form-control-sm text-end"
            [value]="localSaleModel.wholeTotalPounds | number: '1.2-2'" disabled />
        </div>

        <!-- tailTotalPounds -->
        <div class="col-md-6">
          <label for="tailTotalPounds" class="fw-semibold fs-6 mb-2">Total Lb. Sin Cabeza</label>
          <input type="text" id="tailTotalPounds" name="tailTotalPounds" class="form-control form-control-sm text-end"
            [value]="localSaleModel.tailTotalPounds | number: '1.2-2'" disabled />
        </div>

        <!-- totalProcessedPounds -->
        <div class="col-md-6">
          <label for="totalProcessedPounds" class="fw-semibold fs-6 mb-2">Total Lb. Procesadas</label>
          <input type="text" id="totalProcessedPounds" name="totalProcessedPounds"
            class="form-control form-control-sm text-end" [value]="totalProcessedPounds | number: '1.2-2'" disabled />
        </div>

        <!-- processedRatio -->
        <div class="col-md-6">
          <label for="processedRatio" class="fw-semibold fs-6 mb-2">
            (%) lb. Procesadas/lb compradas
          </label>
          <input type="text" id="processedRatio" name="processedRatio" class="form-control form-control-sm text-end"
            [value]="processedRatioDisplay" disabled />
        </div>


      </div>
    </div>
  </div>
  <!-- end::Third Section: Sale Info -->
</form>

<!-- end::Sale Form -->

<!-- Fourth Section: Local Sale Details -->
<div class="row mt-2 gx-4 gy-4">
  <!-- WHOLE -->
  <div class="col-12">
    <app-local-sale-details [style]="SaleStyleEnum.WHOLE" [localSaleDetails]="localSaleWholeDetails"
      (localSaleDetailsChange)="handleLocalSaleWholeDetailsChange($event)" />
  </div>

  <!-- TAIL -->
  <div class="col-12">
    <app-local-sale-details [style]="SaleStyleEnum.TAIL" [localSaleDetails]="localSaleTailDetails"
      (localSaleDetailsChange)="handleLocalSaleTailDetailsChange($event)" />
  </div>
</div>

<!-- end::Fourth Section: Local Sale Details -->

<!-- Fifth Section: Summary -->
<div class="card card-xl-stretch mb-xl-8 mt-2">

  <div class="card-body py-3 text-end fw-bold fs-4">
    <div class="table-responsive mb-6">
      <table class="table table-bordered align-middle">
        <thead class="bg-light text-muted fw-bold">
          <tr>
            <th class="text-start">Talla</th>
            <th class="text-end">Total libras</th>
            <th class="text-end">Total ($)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Section: Con Cabeza -->
          <ng-container *ngIf="groupedWhole.length > 0; else emptyWhole">
            <tr *ngFor="let item of groupedWhole">
              <td>{{ item.size }}</td>
              <td class="text-end">{{ item.pounds | number: '1.2-2' }}</td>
              <td class="text-end">{{ item.total | number: '1.2-2' }}</td>
            </tr>
          </ng-container>
          <ng-template #emptyWhole>
            <tr>
              <td colspan="3" class="text-center text-muted">Sin registros Cabeza</td>
            </tr>
          </ng-template>
          <tr class="fw-bold bg-light">
            <td>Subtotal Cabeza</td>
            <td class="text-end">{{ totalWholePounds | number: '1.2-2' }}</td>
            <td class="text-end">{{ totalWholeAmount | number: '1.2-2' }}</td>
          </tr>

          <!-- Section: Sin Cabeza -->
          <ng-container *ngIf="groupedTail.length > 0; else emptyTail">
            <tr *ngFor="let item of groupedTail">
              <td>{{ item.size }}</td>
              <td class="text-end">{{ item.pounds | number: '1.2-2' }}</td>
              <td class="text-end">{{ item.total | number: '1.2-2' }}</td>
            </tr>
          </ng-container>
          <ng-template #emptyTail>
            <tr>
              <td colspan="3" class="text-center text-muted">Sin registros sin Cabeza</td>
            </tr>
          </ng-template>
          <tr class="fw-bold bg-light">
            <td>Subtotal sin Cabeza</td>
            <td class="text-end">{{ totalTailPounds | number: '1.2-2' }}</td>
            <td class="text-end">{{ totalTailAmount | number: '1.2-2' }}</td>
          </tr>

          <!-- Total General -->
          <tr class="fw-bold bg-light">
            <td>Total General</td>
            <td class="text-end">{{ (totalWholePounds + totalTailPounds) | number: '1.2-2' }}</td>
            <td class="text-end">{{ (totalWholeAmount + totalTailAmount) | number: '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <!-- Submit Button -->
    <button type="button" class="btn btn-primary" [disabled]="canSaveLocalSale()" (click)="confirmSave()">
      Guardar
    </button>
  </div>
</div>
<!-- end::Fifth Section: Summary -->
