<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
          placeholder="Buscar Información de Pago">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add payment info-->
        <button *appCanEdit="permissionRoute" type="button" class="btn btn-primary" data-action="create">
          Agregar Información de Pago
        </button>
        <!--end::Add payment info-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>

  <div class="card-body pt-0">
    <app-crud [datatableConfig]="datatableConfig" [permissionRoute]="permissionRoute"
      (editEvent)="edit($event.toString())" (deleteEvent)="delete($event.toString())" (createEvent)="create()"
      [reload]="reloadEvent" [modal]="formModal">
    </app-crud>
  </div>
</div>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #formModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalles de Información de Pago</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">
        <!--begin::Notice-->
        <!-- <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
          <app-keenicon name="information" class="fs-2tx text-primary me-4"></app-keenicon>
          <div class="d-flex flex-stack flex-grow-1">
            <div class="fw-semibold">
              <div class="fs-6 text-gray-700">Actualizar la información de pago puede requerir una auditoría de
                privacidad. Para más información, revisa nuestra <a href="#">Política de Privacidad</a></div>
            </div>
          </div>
        </div> -->
        <!--end::Notice-->

        <!--begin::Payment information form-->
        <div class="collapse show">
          <div class="fv-row mb-7">
            <label class="required fw-semibold fs-6 mb-2">Nombre del Banco</label>
            <input type="text" class="form-control form-control-solid" name="bankName"
              [(ngModel)]="paymentInfo.bankName" #bankName="ngModel" required minlength="3" />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="bankName.errors?.['required']">El nombre del banco es obligatorio.</div>
              <div *ngIf="bankName.errors?.['minlength']">Debe tener al menos 3 caracteres.</div>
            </div>
          </div>

          <div class="fv-row mb-7">
            <label class="required fw-semibold fs-6 mb-2">Nombre de la Cuenta</label>
            <input type="text" class="form-control form-control-solid" name="accountName"
              [(ngModel)]="paymentInfo.accountName" #accountName="ngModel" required minlength="3" />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="accountName.errors?.['required']">El nombre de la cuenta es obligatorio.</div>
              <div *ngIf="accountName.errors?.['minlength']">Debe tener al menos 3 caracteres.</div>
            </div>
          </div>

          <div class="fv-row mb-7">
            <label class="required fw-semibold fs-6 mb-2">Número de Cuenta</label>
            <input type="text" class="form-control form-control-solid" name="accountNumber"
              [(ngModel)]="paymentInfo.accountNumber" #accountNumber="ngModel" required pattern="\d+" />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="accountNumber.errors?.['required']">El número de cuenta es obligatorio.</div>
              <div *ngIf="accountNumber.errors?.['pattern']">El número de cuenta debe contener solo dígitos.</div>
            </div>
          </div>

          <div class="fv-row mb-7">
            <label class="required fw-semibold fs-6 mb-2">Identificación</label>
            <input type="text" class="form-control form-control-solid" name="identification"
              [(ngModel)]="paymentInfo.identification" #identification="ngModel" required />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="identification.errors?.['required']">La identificación es obligatoria.</div>
            </div>
          </div>

          <div class="fv-row mb-7">
            <label class="required fw-semibold fs-6 mb-2">Teléfono Móvil</label>
            <input type="text" class="form-control form-control-solid" name="mobilePhone"
              [(ngModel)]="paymentInfo.mobilePhone" #mobilePhone="ngModel" required
              pattern="^\+?[0-9\s\-\(\)]{7,15}$" />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="mobilePhone.errors?.['required']">El teléfono móvil es obligatorio.</div>
              <div *ngIf="mobilePhone.errors?.['pattern']">Ingrese un número de teléfono válido.</div>
            </div>
          </div>

          <div class="fv-row mb-7">
            <label class="required fw-semibold fs-6 mb-2">Correo Electrónico</label>
            <input type="email" class="form-control form-control-solid" name="email" [(ngModel)]="paymentInfo.email"
              #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <div *ngIf="myForm.submitted && myForm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="email.errors?.['required']">El correo electrónico es obligatorio.</div>
              <div *ngIf="email.errors?.['pattern']">Debe ingresar un correo válido.</div>
            </div>
          </div>
        </div>
        <!--end::Payment information form-->
      </div>
    </div>
    <div class="modal-footer flex-center">
      <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">Guardar</span>
        <span class="indicator-progress">
          Por favor, espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>
