<!-- Loading Spinner -->
<div *ngIf="isLoading" class="text-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden" translate="COMMON.LOADING"></span>
  </div>
</div>

<div *ngIf="!isLoading">
  <!-- Purchase Form -->
  <form #purchaseForm="ngForm" (ngSubmit)="confirmSave($event,purchaseForm)" novalidate>

    <!-- First Section: General Purchase Info -->
    <div class="card card-xl-stretch mb-xl-8">

      <!-- begin::Header -->
      <div class="card-header border-0 pt-5 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
          <h4 class="card-title align-items-start flex-column mb-0">
            <span class="card-label fw-bolder fs-3 mb-1" translate="PURCHASES.SECTIONS.GENERAL_INFO"></span>
          </h4>
          <!-- Draft Indicator -->
          <span *ngIf="createPurchaseModel.status === 'DRAFT'" class="badge badge-warning fs-7 mt-1">
            <i class="bi bi-pencil-square me-1"></i> <span translate="PURCHASES.STATUS.DRAFT"></span>
          </span>
        </div>

        <div class="d-flex gap-2">
          <button *ngIf="purchaseId" type="button" class="btn btn-light btn-sm" (click)="goBack()">
            <i class="bi bi-arrow-left me-2"></i> <span translate="BUTTONS.BACK"></span>
          </button>

          <!-- New Button -->
          <button *ngIf="purchaseId" type="button" class="btn btn-outline-success btn-sm" (click)="handleNewSale()">
            <i class="bi bi-plus-circle me-1"></i> <span translate="COMMON.NEW"></span>
          </button>
        </div>
      </div>
      <!-- end::Header -->

      <!-- begin::Body -->
      <div class="card-body py-3">

        <!-- begin::Row -->
        <div class="row g-5 g-xl-8">

          <!-- Purchase Date -->
          <div class="col-md-6">
            <label for="purchaseDate" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.PURCHASE_DATE"></label>
            <input type="date" class="form-control form-control-sm" id="purchaseDate" name="purchaseDate"
              [ngModel]="purchaseDateFormatted" (ngModelChange)="onDateChange($event)" required #purchaseDate="ngModel">
            <div
              *ngIf="(purchaseForm.submitted || purchaseDate.dirty || purchaseDate.touched) && purchaseDate.errors?.['required']"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.PURCHASE_DATE_REQUIRED"></div>
            </div>
            <!-- Si necesitas validar el formato ISO8601, deberás implementar un validador personalizado -->
          </div>

          <!-- Control number -->
          <div class="col-md-6">
            <label for="controlNumber" class="fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.CONTROL_NUMBER"></label>
            <input type="text" id="controlNumber" name="controlNumber" class="form-control form-control-sm text-end"
              [(ngModel)]="createPurchaseModel.controlNumber" disabled />
          </div>

          <!-- Weight Sheet Number -->
          <div class="col-md-6">
            <label for="weightSheetNumber" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.WEIGHT_SHEET_NUMBER"></label>
            <input type="text" id="weightSheetNumber" name="weightSheetNumber"
              [(ngModel)]="createPurchaseModel.weightSheetNumber" #weightSheetNumber="ngModel"
              (keypress)="validateNumber($event)" (blur)="formatWeightSheetNumberOnBlur($event)"
              (focus)="onWeightSheetNumberFocus($event)" class="form-control form-control-sm" maxlength="8"
              [placeholder]="'PURCHASES.PLACEHOLDERS.WEIGHT_SHEET_NUMBER' | translate" required />
            <div *ngIf="purchaseForm.submitted && weightSheetNumber.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.WEIGHT_SHEET_NUMBER_REQUIRED"></div>
            </div>
          </div>

          <!-- Has Invoice Selector & Invoice Number (Second Row) -->
          <div class="col-md-6">
            <label for="hasInvoice" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.HAS_INVOICE"></label>
            <select id="hasInvoice" name="hasInvoice" class="form-select form-select-sm"
              [(ngModel)]="createPurchaseModel.hasInvoice" (ngModelChange)="onHasInvoiceChange($event)"
              #hasInvoice="ngModel" required>
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option [ngValue]="'yes'" translate="PURCHASES.OPTIONS.YES"></option>
              <option [ngValue]="'no'" translate="PURCHASES.OPTIONS.NO"></option>
              <option [ngValue]="'not-applicable'" translate="PURCHASES.OPTIONS.NOT_APPLICABLE"></option>
            </select>
            <div *ngIf="purchaseForm.submitted && hasInvoice.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.HAS_INVOICE_REQUIRED"></div>
            </div>
          </div>

          <!-- Invoice Number -->
          <div class="col-md-6" *ngIf="createPurchaseModel.hasInvoice === 'yes'">
            <label for="invoiceNumber" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.INVOICE_NUMBER"></label>
            <input type="text" id="invoiceNumber" name="invoiceNumber" [(ngModel)]="createPurchaseModel.invoiceNumber"
              #invoiceNumber="ngModel" class="form-control form-control-sm" required />
            <div *ngIf="purchaseForm.submitted && invoiceNumber.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <span translate="PURCHASES.VALIDATIONS.INVOICE_NUMBER_REQUIRED"></span>
            </div>
          </div>

          <!-- Invoice Name -->
          <div class="col-md-6" *ngIf="createPurchaseModel.hasInvoice === 'yes'">
            <label for="invoiceName" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.INVOICE_NAME"></label>
            <input type="text" id="invoiceName" name="invoiceName" [(ngModel)]="createPurchaseModel.invoiceName"
              #invoiceName="ngModel" class="form-control form-control-sm" required />
            <div *ngIf="purchaseForm.submitted && invoiceName.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <span translate="PURCHASES.VALIDATIONS.INVOICE_NAME_REQUIRED"></span>
            </div>
          </div>
        </div>
        <!-- end::Row -->
      </div>
      <!-- end::Body -->
    </div>
    <!-- end::First Section: General Purchase Info -->

    <!-- Second Section: Responsible -->
    <div class="card card-xl-stretch mb-xl-8 mt-2">

      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h4 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1" translate="PURCHASES.SECTIONS.RESPONSIBLE"></span>
        </h4>
      </div>
      <!-- end::Header -->

      <!-- begin::Body -->
      <div class="card-body py-3">

        <div class="row g-5 g-xl-8">
          <!-- Company -->
          <div class="col-md-6">
            <label for="company" class="required fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.COMPANY"></label>
            <select id="company" name="company" class="form-select form-select-sm"
              [(ngModel)]="createPurchaseModel.company" #company="ngModel" required [disabled]="isEditMode"
              (change)="onCompanyChange($event)">
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option *ngFor="let company of companiesList" [value]="company.id">
                {{ company.name }}
              </option>
            </select>
            <div *ngIf="purchaseForm.submitted && company.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.COMPANY_REQUIRED"></div>
            </div>
          </div>

          <!-- Local Sell Company -->
          <div class="col-md-6" *ngIf="isLocal">
            <label for="localSellCompany" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.LOCAL_SELL_COMPANY"></label>
            <select id="localSellCompany" name="localSellCompany" class="form-select form-select-sm"
              [(ngModel)]="createPurchaseModel.localSellCompany" #localSellCompany="ngModel" required>
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option *ngFor="let company of companiesList" [value]="company.id">
                {{ company.name }}
              </option>
            </select>
            <div *ngIf="purchaseForm.submitted && localSellCompany.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.LOCAL_SELL_COMPANY_REQUIRED"></div>
            </div>
          </div>

          <!-- Period -->
          <div *ngIf="!isLocal" class="col-md-6">
            <label for="period" class="required fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.PERIOD"></label>
            <select id="period" name="period" class="form-select form-select-sm"
              [(ngModel)]="createPurchaseModel.period" #period="ngModel" required [disabled]="isEditMode">
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option *ngFor="let period of existingPeriods" [value]="period.id">
                {{ period.name }}
              </option>
            </select>
            <div *ngIf="purchaseForm.submitted && period.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.PERIOD_REQUIRED"></div>
            </div>
          </div>
        </div>

        <div class="row g-5 g-xl-8 mt-1">
          <!-- Buyer -->
          <div *ngIf="!isOnlyBuyer" class="col-md-6">
            <label for="buyer" class="required fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.BUYER"></label>
            <select id="buyer" name="buyer" class="form-select form-select-sm" [(ngModel)]="createPurchaseModel.buyer"
              #buyer="ngModel" required (change)="onBuyerChange($event)">
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option *ngFor="let buyer of buyersList" [value]="buyer.id">
                {{ buyer.person.names }} {{ buyer.person.lastNames }}
              </option>
            </select>
            <div *ngIf="purchaseForm.submitted && buyer.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.BUYER_REQUIRED"></div>
            </div>
          </div>

          <!-- Broker -->
          <div class="col-md-6">
            <label for="broker" class="required fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.BROKER"></label>
            <select id="broker" name="broker" class="form-select form-select-sm"
              [(ngModel)]="createPurchaseModel.broker" #broker="ngModel" required>
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option *ngFor="let broker of brokersList" [value]="broker.id">
                {{ broker.person.names }} {{ broker.person.lastNames }}
              </option>
            </select>
            <div *ngIf="purchaseForm.submitted && broker.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.BROKER_REQUIRED"></div>
            </div>
          </div>

          <!-- Fisherman -->
          <div class="col-md-6">
            <label for="fisherman" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.FISHERMAN"></label>
            <select id="fisherman" name="fisherman" class="form-select form-select-sm"
              [(ngModel)]="createPurchaseModel.fisherman" #fisherman="ngModel" required>
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option *ngFor="let fisherman of fishermenList" [value]="fisherman.id">
                {{ fisherman.person.names }} {{ fisherman.person.lastNames }}
              </option>
            </select>
            <div *ngIf="purchaseForm.submitted && fisherman.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.FISHERMAN_REQUIRED"></div>
            </div>
          </div>

          <!-- Client Dropdown & "Nuevo Cliente" Button -->
          <div class="col-md-6 d-flex align-items-center">
            <div class="flex-grow-1">
              <label for="client" class="required fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.CLIENT"></label>
              <div class="d-flex align-items-center">
                <!-- Dropdown takes most of the width -->
                <select id="client" name="client" class="form-select form-select-sm flex-grow-1"
                  [(ngModel)]="createPurchaseModel.client" #client="ngModel" required (change)="onClientChange($event)">
                  <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION">
                  </option>
                  <option *ngFor="let client of clientsList" [value]="client.id">
                    {{ client.person.names }} {{ client.person.lastNames }}
                  </option>
                </select>

                <!-- Button at input level, right-aligned -->
                <button *appCanCreate="PERMISSION_ROUTE"
                  class="btn btn-outline-primary btn-sm ms-2 d-flex align-items-center" (click)="addNewClient()"
                  [matTooltip]="'PURCHASES.BUTTONS.NEW_CLIENT' | translate">
                  <i class="fas fa-user-plus"></i>
                </button>
              </div>

              <div *ngIf="purchaseForm.submitted && client.invalid"
                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                <div translate="PURCHASES.VALIDATIONS.CLIENT_REQUIRED"></div>
              </div>
            </div>
          </div>


          <!-- Piscina -->
          <div class="col-md-6">
            <label for="shrimpFarm" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.SHRIMP_FARM"></label>
            <select id="shrimpFarm" name="shrimpFarm" class="form-select form-select-sm"
              [(ngModel)]="createPurchaseModel.shrimpFarm" #shrimpFarm="ngModel" (change)="onShrimpFarmChange($event)"
              required>
              <option [ngValue]="undefined" disabled selected translate="PURCHASES.PLACEHOLDERS.SELECT_OPTION"></option>
              <option *ngFor="let shrimpFarm of shrimpFarmsList" [value]="shrimpFarm.id">
                {{ shrimpFarm.identifier }}
              </option>
            </select>
            <div *ngIf="purchaseForm.submitted && shrimpFarm.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div translate="PURCHASES.VALIDATIONS.SHRIMP_FARM_REQUIRED"></div>
            </div>
          </div>

          <!-- Farm Place (Disabled Input) -->
          <div class="col-md-6">
            <label for="farmPlace" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.FARM_PLACE"></label>
            <input type="text" id="farmPlace" name="farmPlace" class="form-control form-control-sm"
              [(ngModel)]="farmPlace" disabled />
          </div>
        </div>
      </div>
      <!-- end::Body -->

    </div>
    <!-- end::Second Section: Responsible -->

    <!-- Third Section: Details -->
    <div class="card card-xl-stretch mb-xl-8 mt-2">

      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h4 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1" translate="PURCHASES.SECTIONS.DETAILS"></span>
        </h4>
      </div>
      <!-- end::Header -->

      <div class="card-body py-3">

        <div class="row g-5 g-xl-8">

          <!-- Gramo promedio de camaron (g) -->
          <div class="col-md-6">
            <label for="averageGrams" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.AVERAGE_GRAMS"></label>
            <input type="text" id="averageGrams" name="averageGrams" [(ngModel)]="createPurchaseModel.averageGrams"
              #averageGrams="ngModel" class="form-control form-control-sm" required (keypress)="validateNumber($event)"
              (input)="onInputDetailsChange()" (blur)="formatDecimal('averageGrams')" />
            <div *ngIf="purchaseForm.submitted && averageGrams.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <span translate="PURCHASES.VALIDATIONS.AVERAGE_GRAMS_REQUIRED"></span>
            </div>
          </div>

          <!-- Shrimp Size in company -->
          <div class="col-md-6">
            <label for="shrimpSize" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.SHRIMP_SIZE"></label>
            <input type="text" id="shrimpSize" name="shrimpSize" class="form-control form-control-sm"
              [(ngModel)]="shrimpSize" disabled />
          </div>

          <!-- Precio camaron ($) -->
          <div class="col-md-6">
            <label for="price" class="required fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.PRICE"></label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="price" name="price" [(ngModel)]="createPurchaseModel.price" #price="ngModel"
                class="form-control form-control-sm text-end" required (keypress)="validateNumber($event)"
                (input)="onInputDetailsChange()" (blur)="formatDecimal('price')" />
            </div>
            <div *ngIf="purchaseForm.submitted && price.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <span translate="PURCHASES.VALIDATIONS.PRICE_REQUIRED"></span>
            </div>
          </div>

          <!-- Libras compradas (lb) -->
          <div class="col-md-6">
            <label for="pounds" class="required fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.POUNDS"></label>
            <input type="text" id="pounds" name="pounds" [(ngModel)]="createPurchaseModel.pounds" #pounds="ngModel"
              class="form-control form-control-sm" required (keypress)="validateNumber($event)"
              (input)="onInputDetailsChange()" (blur)="formatDecimal('pounds')" />
            <div *ngIf="purchaseForm.submitted && pounds.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <span translate="PURCHASES.VALIDATIONS.POUNDS_REQUIRED"></span>
            </div>
          </div>

          <!-- Gramo promedio de camaron 2 (g) -->
          <div class="col-md-6">
            <label for="averageGrams2" class="fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.AVERAGE_GRAMS_2"></label>
            <input type="text" id="averageGrams2" name="averageGrams2" [(ngModel)]="createPurchaseModel.averageGrams2"
              #averageGrams2="ngModel" class="form-control form-control-sm" (keypress)="validateNumber($event)"
              (input)="onInputDetailsChange()" (blur)="formatDecimal('averageGrams')" />
          </div>

          <!-- Shrimp Size 2 in company -->
          <div class="col-md-6">
            <label for="shrimpSize2" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.SHRIMP_SIZE_2"></label>
            <input type="text" id="shrimpSize2" name="shrimpSize2" class="form-control form-control-sm"
              [(ngModel)]="shrimpSize2" disabled />
          </div>

          <!-- Precio camaron ($) -->
          <div class="col-md-6">
            <label for="price2" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.PRICE_2"></label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="price2" name="price2" [(ngModel)]="createPurchaseModel.price2" #price2="ngModel"
                class="form-control form-control-sm text-end" (keypress)="validateNumber($event)"
                (input)="onInputDetailsChange()" (blur)="formatDecimal('price2')" />
            </div>
          </div>

          <!-- Libras compradas 2 (lb) -->
          <div class="col-md-6">
            <label for="pounds2" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.POUNDS_2"></label>
            <input type="text" id="pounds2" name="pounds2" [(ngModel)]="createPurchaseModel.pounds2" #pounds2="ngModel"
              class="form-control form-control-sm" (keypress)="validateNumber($event)" (input)="onInputDetailsChange()"
              (blur)="formatDecimal('pounds2')" />
          </div>

          <!-- Total (lb) Compradas (Disabled) -->
          <div class="col-md-4">
            <label for="totalPounds" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.TOTAL_POUNDS"></label>
            <input type="text" id="totalPounds" name="totalPounds" class="form-control"
              [(ngModel)]="createPurchaseModel.totalPounds" #totalPounds="ngModel" disabled />
          </div>

          <!-- Subtotal a pagar ($) (Disabled) -->
          <div class="col-md-4">
            <label for="subtotal" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.SUBTOTAL"></label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="subtotal" name="subtotal" class="form-control text-end"
                [(ngModel)]="createPurchaseModel.subtotal" #subtotal="ngModel" disabled />
            </div>
          </div>

          <!-- Subtotal a pagar 2 ($) (Disabled) -->
          <div class="col-md-4">
            <label for="subtotal2" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.SUBTOTAL_2"></label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="subtotal2" name="subtotal2" class="form-control text-end"
                [(ngModel)]="createPurchaseModel.subtotal2" #subtotal2="ngModel" disabled />
            </div>
          </div>

          <!-- Total a pagar ($) (Disabled) -->
          <div class="col-md-6">
            <label for="grandTotal" class="fw-semibold fs-6 mb-2" translate="PURCHASES.FIELDS.GRAND_TOTAL"></label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="grandTotal" name="grandTotal" class="form-control text-end"
                [(ngModel)]="createPurchaseModel.grandTotal" #grandTotal="ngModel" disabled />
            </div>
          </div>

          <!-- Total acordado por el comprador ($) -->
          <div class="col-md-6">
            <label for="totalAgreedToPay" class="required fw-semibold fs-6 mb-2"
              translate="PURCHASES.FIELDS.TOTAL_AGREED"></label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="totalAgreedToPay" name="totalAgreedToPay"
                [(ngModel)]="createPurchaseModel.totalAgreedToPay" #totalAgreedToPay="ngModel"
                class="form-control form-control-sm text-end" required (keypress)="validateNumber($event)"
                (blur)="formatDecimal('pounds')" />
            </div>
            <div *ngIf="purchaseForm.submitted && totalAgreedToPay.invalid"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <span translate="PURCHASES.VALIDATIONS.TOTAL_AGREED_REQUIRED"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <!-- Submit Button -->
        <button *ngIf="canSavePurchase()" type="submit" class="btn btn-primary" [disabled]="isLoading">
          <span translate="BUTTONS.SAVE"></span>
        </button>

        <!-- Payments List Button -->
        <button *ngIf="canAddPayments()" type="button" (click)="openPaymentsModal()" class="btn btn-secondary ms-3"
          [disabled]="isLoading">
          <span translate="BUTTONS.PAYMENTS"></span>
        </button>
      </div>
    </div>
    <!-- end::Third Section: Details -->
  </form>
</div>
