<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-1 pb-0">

    <div class="d-flex overflow-auto h-55px">
      <ul class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        ">
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/people/users" routerLinkActive="active">
            {{ 'PERSON_MANAGEMENT.TABS.USERS' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/people/brokers" routerLinkActive="active">
            {{ 'PERSON_MANAGEMENT.TABS.BROKERS' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/people/clients" routerLinkActive="active">
            {{ 'PERSON_MANAGEMENT.TABS.CLIENTS' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/people/merchants"
            routerLinkActive="active">
            {{ 'PERSON_MANAGEMENT.TABS.MERCHANTS' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/people/fishermen"
            routerLinkActive="active">
            {{ 'PERSON_MANAGEMENT.TABS.FISHERMEN' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
