<!-- First Section: Search Info -->
<div class="card card-xl-stretch mb-xl-8">
  <div class="card-header border-0 pt-5 d-flex justify-content-between align-items-center">
    <h4 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Buscar por número de control</span>
    </h4>

    <div class="d-flex gap-2">
      <!-- Back Button -->
      <button *ngIf="hasRouteId" type="button" class="btn btn-light btn-sm" (click)="goBack()">
        <i class="bi bi-arrow-left me-1"></i> Volver
      </button>

      <!-- New Button -->
      <button *ngIf="logisticsId" type="button" class="btn btn-outline-success btn-sm" (click)="handleNewLogistics()">
        <i class="bi bi-plus-circle me-1"></i> Nuevo
      </button>
    </div>
  </div>
  <div class="card-body py-3">
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center gap-4">
        <!-- Control Number Input -->
        <input type="text" id="controlNumber" name="controlNumber" class="form-control form-control-sm text-end"
          placeholder="CO-0" style="max-width: 180px" [disabled]="!!logisticsId" [(ngModel)]="controlNumber" />

        <!-- Search Button -->
        <button *ngIf="!logisticsId" class="btn btn-outline-primary btn-sm d-flex align-items-center gap-2"
          (click)="searchPurchase()">
          <i class="bi bi-search"></i> Buscar
        </button>
      </div>

      <!-- Required Message -->
      <div *ngIf="searchSubmitted && !controlNumber" class="text-danger mt-1 ms-1 small">
        El número de control es obligatorio.
      </div>
    </div>

  </div>
</div>
<!-- end::First Section: Search Info -->

<!-- Second Section: Purchase Info -->
<div class="card card-xl-stretch mb-xl-8 mt-2">

  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h4 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Información de la Compra</span>
    </h4>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">

    <div class="row g-5 g-xl-8">
      <!-- Purchase Date -->
      <div class="col-md-6">
        <label for="purchaseDate" class="fw-semibold fs-6 mb-2">Fecha de la compra</label>
        <input type="date" class="form-control form-control-sm" id="purchaseDate" name="purchaseDate"
          [(ngModel)]="purchaseDateFormatted" disabled>
      </div>

      <!-- Buyer -->
      <div class="col-md-6">
        <label for="buyer" class="fw-semibold fs-6 mb-2">Comprador Responsable</label>
        <input type="text" id="buyer" name="buyer" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.buyer.fullName" disabled />
      </div>

      <!-- Bróker -->
      <div class="col-md-6">
        <label for="broker" class="fw-semibold fs-6 mb-2">Bróker</label>
        <input type="text" id="broker" name="broker" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.broker.fullName" disabled />
      </div>

      <!-- Client -->
      <div class="col-md-6">
        <label for="company" class="fw-semibold fs-6 mb-2">Propietario de la Piscina</label>
        <input type="text" id="company" name="company" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.client.fullName" disabled />
      </div>

      <!-- Shrimp Farm -->
      <div class="col-md-6">
        <label for="shrimpFarm" class="fw-semibold fs-6 mb-2">Nombre de la Piscina</label>
        <input type="text" id="shrimpFarm" name="shrimpFarm" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.shrimpFarm.identifier" disabled />
      </div>

      <!-- Farm Place-->
      <div class="col-md-6">
        <label for="farmPlace" class="fw-semibold fs-6 mb-2">Ubicación de la Piscina</label>
        <input type="text" id="farmPlace" name="farmPlace" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.shrimpFarm.place" disabled />
      </div>
    </div>
  </div>
</div>
<!-- end::Second Section: Purchase Info -->

<!-- Logistics Form -->
<form #logisticsForm="ngForm" (ngSubmit)="confirmSave($event, logisticsForm)" novalidate>

  <!-- Third Section: Logistics Info -->
  <div class="card card-xl-stretch mb-xl-8 mt-2">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-8">
      <h4 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Información de Logística</span>
      </h4>
    </div>
    <!-- end::Header -->

    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Row -->
      <div class="row g-5 g-xl-8">
        <!-- Logistics Type -->
        <div class="col-md-6">
          <label for="type" class="required fw-semibold fs-6 mb-2">Tipo</label>
          <select id="type" name="type" class="form-select form-select-sm" [(ngModel)]="logisticsModel.type"
            #type="ngModel" required [disabled]="!!logisticsId">
            <option value="" disabled selected>Seleccione una opción</option>
            <option *ngFor="let option of logisticsTypes" [ngValue]="option">
              {{ logisticsTypeLabels[option] }}
            </option>
          </select>
          <div *ngIf="logisticsForm.submitted && type.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div>Debe seleccionar una opción.</div>
          </div>
        </div>

        <!-- Logistic Date -->
        <div class="col-md-6">
          <label for="logisticsDate" class="required fw-semibold fs-6 mb-2">Fecha de logística</label>
          <input type="date" class="form-control form-control-sm" id="logisticsDate" name="logisticsDate"
            [ngModel]="logisticsDateFormatted" (ngModelChange)="onDateChange($event)" required #logisticsDate="ngModel">
          <div
            *ngIf="(logisticsForm.submitted || logisticsDate.dirty || logisticsDate.touched) && logisticsDate.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div>La fecha de logística es obligatoria.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end::Third Section: Logistics Info -->


  <!-- Fourth Section: Personnel Logistics Details -->
  <div class="card card-xl-stretch mb-xl-8 mt-2">

    <app-logistics-items-listing *ngIf="personnelLogisticsCategoryList.length>0" title="Personal"
      [logisticsCategories]="personnelLogisticsCategoryList" [logisticsItems]="personnelLogisticsItems"
      [hasDescription]="true" (logisticsItemsChange)="handlePersonnelLogisticsItems($event)" />
  </div>
  <!-- end::Fourth Section: Personnel Logistics Details -->

  <!-- Fifth Section: Inputs Logistics Details -->
  <div class="card card-xl-stretch mb-xl-8 mt-2">

    <app-logistics-items-listing *ngIf="inputLogisticsCategoryList.length>0" title="Productos e Insumos"
      [logisticsCategories]="inputLogisticsCategoryList" [logisticsItems]="inputLogisticsItems" [hasDescription]="true"
      (logisticsItemsChange)="handleInputLogisticsItems($event)" />

  </div>
  <!-- end::Fifth Section: Inputs Logistics Details -->

  <!-- Sixth Section: Grand Total -->
  <div class="card card-xl-stretch mb-xl-8 mt-2">

    <div class="card-body py-3 text-end fw-bold fs-4">
      <label class="me-20">Total a pagar de logística</label>
      <span>$ {{ grandTotalDisplayed || 0 | number: '1.2-2' }}</span>
    </div>

    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <!-- Submit Button -->
      <button *ngIf="canSaveLogistics()" type="submit" class="btn btn-primary">
        Guardar
      </button>
    </div>
  </div>
  <!-- end::Fifth Section: Inputs Logistics Details -->

</form>
<!-- end::Logistics Form -->
