<div class="card card-xl-stretch mb-xl-8 mt-2">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">

    <!--begin::Card title-->
    <div class="card-title">
      <h4 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Detalles de la venta</span>
      </h4>
    </div>
    <!--begin::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add payment info-->
        <button *appCanEdit="PERMISSION_ROUTE" type="button" class="btn btn-primary btn-sm" data-action="create"
          [disabled]="!canAddItems">
          Agregar
        </button>
        <!--end::Add payment info-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">
    <app-crud [datatableConfig]="datatableConfig" [permissionRoute]="PERMISSION_ROUTE"
      (editEvent)="edit($event.toString())" (deleteEvent)="delete($event.toString())" (createEvent)="create()"
      [reload]="reloadEvent" [modal]="formModal">
    </app-crud>
  </div>
  <!-- end::Body -->

  <!-- begin::Card Footer Totals -->
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <table class="table table-sm mb-0 w-auto text-end align-middle fs-6">
      <thead>
        <tr class="text-muted fw-semibold border-0">
          <th class="px-3 text-start"></th>
          <th class="px-3 text-end">Libras (lb)</th>
          <th class="px-3 text-end">Total $</th>
          <th class="px-3 text-end">%</th>
        </tr>
      </thead>
      <tbody>
        <tr class="fw-bold border-top">
          <td class="px-3 text-start">Total General</td>
          <td class="px-3 text-end">{{ poundsGrandTotal | number: '1.2-2' }}</td>
          <td class="px-3 text-end">$ {{ grandTotal | number: '1.2-2' }}</td>
          <td class="px-3 text-end">{{ percentageTotal | number: '1.2-2' }}%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end::Card Footer Totals -->
</div>

<ng-template #formModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title">Detalle de la venta</h4>
      <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">
        <!--begin::Sale Item form-->
        <div class="collapse show">

          <!-- Estilo -->
          <div class="mb-3">
            <label for="style" class="required fw-semibold fs-6 mb-2">Estilo</label>
            <select id="style" name="style" class="form-select form-select-sm" [(ngModel)]="companySaleItem.style"
              (ngModelChange)="onStyleChange($event)" #style="ngModel" required>
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let option of companySaleStyles" [ngValue]="option">
                {{ companySaleStylesLabels[option] }}
              </option>
            </select>
            <div *ngIf="(myForm.submitted || style.dirty || style.touched) && style.errors?.['required']"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>
          </div>

          <!-- Clase - Whole -->
          <div *ngIf="companySaleItem.style && isWhole" class="mb-3">
            <label for="class" class="required fw-semibold fs-6 mb-2">Clase</label>
            <input type="text" class="form-control" id="class" name="class" [(ngModel)]="companySaleItem.class" required
              #class="ngModel">
            <div *ngIf="(myForm.submitted || class.dirty || class.touched) && class.errors?.['required']"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>
          </div>

          <!-- Clase - Tail -->
          <div *ngIf="companySaleItem.style &&!isWhole && !isResidual" class="mb-3">
            <label for="class" class="required fw-semibold fs-6 mb-2">Clase</label>
            <select id="class" name="class" class="form-select form-select-sm" [(ngModel)]="companySaleItem.class"
              (ngModelChange)="onClassChange($event)" #class="ngModel" required>
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let option of shrimpClassList" [ngValue]="option.type">
                {{ option.label }}
              </option>
            </select>
            <div *ngIf="(myForm.submitted || class.dirty || class.touched) && class.errors?.['required']"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>
          </div>
          <!-- Clase - Whole -->
          <div *ngIf="companySaleItem.style && isResidual" class="mb-3">
            <label for="class" class="required fw-semibold fs-6 mb-2">Clase</label>
            <input type="text" class="form-control" id="class" name="class" [(ngModel)]="companySaleItem.class" required
              #class="ngModel">
            <div *ngIf="(myForm.submitted || class.dirty || class.touched) && class.errors?.['required']"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>
          </div>

          <!-- Talla -->
          <div class="mb-3">
            <label for="size" class="required fw-semibold fs-6 mb-2">Talla</label>
            <select id="size" name="size" class="form-select form-select-sm" [(ngModel)]="companySaleItem.size"
              (ngModelChange)="onSizeChange($event)" #size="ngModel" required>
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let option of sizeList" [ngValue]="option">
                {{ option }}
              </option>
            </select>
            <div *ngIf="(myForm.submitted || size.dirty || size.touched) && size.errors?.['required']"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>
          </div>

          <!-- Precio referencial ($) -->
          <div class="mb-3">
            <label for="referencePrice" class="fw-semibold fs-6 mb-2">Precio Referencial ($)</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="referencePrice" name="referencePrice"
                [value]="companySaleItem.referencePrice | number: '1.2-2'" class="form-control form-control-sm"
                disabled />
            </div>
          </div>


          <!-- Libras (lb) -->
          <div class="mb-3">
            <label for="pounds" class="required fw-semibold fs-6 mb-2">Libras (lb)</label>
            <input type="text" id="pounds" name="pounds" [(ngModel)]="companySaleItem.pounds" #pounds="ngModel"
              class="form-control form-control-sm" required (keypress)="validateNumber($event)"
              (input)="onInputChange()" (blur)="formatDecimal('pounds')" />
            <div *ngIf="(myForm.submitted || pounds.dirty || pounds.touched) && pounds.errors?.['required']"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>
          </div>

          <!-- Precio ($) -->
          <div class="mb-3">
            <label for="price" class="required fw-semibold fs-6 mb-2">Precio ($)</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="price" name="price" [(ngModel)]="companySaleItem.price" #price="ngModel"
                class="form-control form-control-sm" required (keypress)="validateNumber($event)"
                (input)="onInputChange()" (blur)="formatDecimal('price')" />
              <div *ngIf="(myForm.submitted || price.dirty || price.touched) && price.errors?.['required']"
                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                <div>El campo es obligatorio.</div>
              </div>
            </div>
          </div>

          <!-- Total ($) -->
          <div class="mb-3">
            <label for="total" class="fw-semibold fs-6 mb-2">Total ($)</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="total" name="total" [value]="companySaleItem.total | number: '1.2-2'"
                class="form-control form-control-sm" disabled />
            </div>
          </div>

        </div>
        <!--end::Sale Item form-->
      </div>
    </div>

    <div class="modal-footer flex-center">
      <button type="button" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">Guardar</span>
        <span class="indicator-progress">
          Por favor, espera... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>