<!-- First Section: Search Info -->
<div class="card card-xl-stretch mb-xl-8">
  <div class="card-header border-0 pt-5 d-flex justify-content-between align-items-center">
    <h4 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Buscar por número de control</span>
    </h4>

    <div class="d-flex gap-2">
      <!-- Back Button -->
      <button *ngIf="hasRouteId" type="button" class="btn btn-light btn-sm" (click)="goBack()">
        <i class="bi bi-arrow-left me-1"></i> Volver
      </button>

      <!-- New Button -->
      <button *ngIf="companySaleId" type="button" class="btn btn-outline-success btn-sm" (click)="handleNewSale()">
        <i class="bi bi-plus-circle me-1"></i> Nuevo
      </button>
    </div>
  </div>
  <div class="card-body py-3">
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center gap-4">
        <!-- Control Number Input -->
        <input type="text" id="controlNumber" name="controlNumber" class="form-control form-control-sm text-end"
          placeholder="CO-0" style="max-width: 180px" [disabled]="!!companySaleId" [(ngModel)]="controlNumber" />

        <!-- Search Button -->
        <button *ngIf="!companySaleId" class="btn btn-outline-primary btn-sm d-flex align-items-center gap-2"
          (click)="searchPurchase()">
          <i class="bi bi-search"></i> Buscar
        </button>
      </div>

      <!-- Required Message -->
      <div *ngIf="searchSubmitted && !controlNumber" class="text-danger mt-1 ms-1 small">
        El número de control es obligatorio.
      </div>
    </div>

  </div>
</div>
<!-- end::First Section: Search Info -->

<!-- Second Section: Purchase Info -->
<div class="card card-xl-stretch mb-xl-8 mt-2">

  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h4 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Información de la Compra</span>
    </h4>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">

    <div class="row g-5 g-xl-8">
      <!-- Purchase Date -->
      <div class="col-md-6">
        <label for="purchaseDate" class="fw-semibold fs-6 mb-2">Fecha de la compra</label>
        <input type="date" class="form-control form-control-sm" id="purchaseDate" name="purchaseDate"
          [(ngModel)]="purchaseDateFormatted" disabled>
      </div>

      <!-- Buyer -->
      <div class="col-md-6">
        <label for="buyer" class="fw-semibold fs-6 mb-2">Comprador Responsable</label>
        <input type="text" id="buyer" name="buyer" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.buyer.fullName" disabled />
      </div>

      <!-- Client -->
      <div class="col-md-6">
        <label for="company" class="fw-semibold fs-6 mb-2">Propietario de la Piscina</label>
        <input type="text" id="company" name="company" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.client.fullName" disabled />
      </div>

      <!-- Shrimp Farm -->
      <div class="col-md-6">
        <label for="shrimpFarm" class="fw-semibold fs-6 mb-2">Nombre de la Piscina</label>
        <input type="text" id="shrimpFarm" name="shrimpFarm" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.shrimpFarm.identifier" disabled />
      </div>

      <!-- Farm Place-->
      <div class="col-md-6">
        <label for="farmPlace" class="fw-semibold fs-6 mb-2">Ubicación de la Piscina</label>
        <input type="text" id="farmPlace" name="farmPlace" class="form-control form-control-sm"
          [(ngModel)]="purchaseModel.shrimpFarm.place" disabled />
      </div>

      <!-- Transportation Method-->
      <div class="col-md-6">
        <label for="transportationMethod" class="fw-semibold fs-6 mb-2">Medio de Transporte</label>
        <input type="text" id="transportationMethod" name="transportationMethod" class="form-control form-control-sm"
          [(ngModel)]="transportationMethod" disabled />
      </div>
    </div>
  </div>
</div>
<!-- end::Second Section: Purchase Info -->

<!-- Sale Form -->
<form #saleForm="ngForm" novalidate>

  <!-- Third Section: Sale Info -->
  <div class="card card-xl-stretch mb-xl-8 mt-2">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-8">
      <h4 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Información de la Venta</span>
      </h4>
    </div>
    <!-- end::Header -->

    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Row -->
      <div class="row g-5 g-xl-8">

        <!-- Sale Date -->
        <div class="col-md-4">
          <label for="saleDate" class="required fw-semibold fs-6 mb-2">Fecha de venta</label>
          <input type="date" class="form-control form-control-sm" id="saleDate" name="saleDate"
            [ngModel]="saleDateFormatted" (ngModelChange)="onDateChange($event)" required #saleDate="ngModel">
          <div *ngIf="(saleForm.submitted || saleDate.dirty || saleDate.touched) && saleDate.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div>La fecha de venta es obligatoria.</div>
          </div>
        </div>

        <!-- Document -->
        <div class="col-md-4">
          <label for="document" class="required fw-semibold fs-6 mb-2">Documento</label>
          <input type="text" id="document" name="document" [(ngModel)]="companySaleModel.document" #document="ngModel"
            class="form-control form-control-sm" required />
          <div *ngIf="(saleForm.submitted || document.dirty || document.touched) && document.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El documento es obligatorio.
          </div>
        </div>

        <!-- Batch -->
        <div class="col-md-4">
          <label for="batch" class="required fw-semibold fs-6 mb-2">Lote</label>
          <input type="text" id="batch" name="batch" [(ngModel)]="companySaleModel.batch" #batch="ngModel"
            class="form-control form-control-sm" required />
          <div *ngIf="(saleForm.submitted || batch.dirty || batch.touched) && batch.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El lote es obligatorio.
          </div>
        </div>

        <!-- Provider -->
        <div class="col-md-4">
          <label for="provider" class="required fw-semibold fs-6 mb-2">Proveedor</label>
          <input type="text" id="provider" name="provider" [(ngModel)]="companySaleModel.provider" #provider="ngModel"
            class="form-control form-control-sm" required />
          <div *ngIf="(saleForm.submitted || provider.dirty || provider.touched) && provider.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El proveedor es obligatorio.
          </div>
        </div>

        <!-- NP -->
        <div class="col-md-4">
          <label for="np" class="fw-semibold fs-6 mb-2">NP</label>
          <input type="text" id="np" name="np" [(ngModel)]="companySaleModel.np" #np="ngModel"
            class="form-control form-control-sm" />
        </div>

        <!-- Serial Number -->
        <div class="col-md-4">
          <label for="serialNumber" class="required fw-semibold fs-6 mb-2">Serie</label>
          <input type="text" id="serialNumber" name="serialNumber" [(ngModel)]="companySaleModel.serialNumber"
            #serialNumber="ngModel" class="form-control form-control-sm" required
            (keypress)="validateWholeNumber($event)" />
          <div
            *ngIf="(saleForm.submitted || serialNumber.dirty || serialNumber.touched) && serialNumber.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El número de serie es obligatorio.
          </div>
        </div>

        <!-- Reception Date -->
        <div class="col-md-6">
          <label for="receptionDate" class="required fw-semibold fs-6 mb-2">Fecha de recepción</label>
          <input type="date" class="form-control form-control-sm" id="receptionDate" name="receptionDate"
            [(ngModel)]="receptionDate" #receptionDateField="ngModel" required>
          <div
            *ngIf="(saleForm.submitted || receptionDateField.dirty || receptionDateField.touched) && receptionDateField.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            La fecha de recepción es obligatoria.
          </div>
        </div>

        <!-- Reception Time -->
        <div class="col-md-6">
          <label for="receptionTime" class="required fw-semibold fs-6 mb-2">Hora de recepción</label>
          <input type="time" class="form-control form-control-sm" [(ngModel)]="receptionTime" id="receptionTime"
            name="receptionTime" #receptionTimeField="ngModel" required>
          <div
            *ngIf="(saleForm.submitted || receptionTimeField.dirty || receptionTimeField.touched) && receptionTimeField.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            La hora de recepción es obligatoria.
          </div>
        </div>

        <!-- Batch Average Gram -->
        <div class="col-md-4">
          <label for="batchAverageGram" class="required fw-semibold fs-6 mb-2">Gr. Promedio Lote</label>
          <input type="text" id="batchAverageGram" name="batchAverageGram"
            [(ngModel)]="companySaleModel.batchAverageGram" #batchAverageGram="ngModel"
            class="form-control form-control-sm" required (keypress)="validateNumber($event)"
            (blur)="formatDecimal('batchAverageGram')" />
          <div
            *ngIf="(saleForm.submitted || batchAverageGram.dirty || batchAverageGram.touched) && batchAverageGram.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- Whole Received Pounds -->
        <div class="col-md-4">
          <label for="wholeReceivedPounds" class="required fw-semibold fs-6 mb-2">Libras recibidas C/Cabeza</label>
          <input type="text" id="wholeReceivedPounds" name="wholeReceivedPounds"
            [(ngModel)]="companySaleModel.wholeReceivedPounds" #wholeReceivedPounds="ngModel"
            class="form-control form-control-sm" required (keypress)="validateNumber($event)"
            (blur)="formatDecimal('wholeReceivedPounds')" />
          <div
            *ngIf="(saleForm.submitted || batchAverageGram.dirty || batchAverageGram.touched) && batchAverageGram.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- Trash Pounds -->
        <div class="col-md-4">
          <label for="trashPounds" class="required fw-semibold fs-6 mb-2">Libras Basura</label>
          <input type="text" id="trashPounds" name="trashPounds" [(ngModel)]="companySaleModel.trashPounds"
            #trashPounds="ngModel" class="form-control form-control-sm" required (keypress)="validateNumber($event)"
            (blur)="formatDecimal('trashPounds')" />
          <div
            *ngIf="(saleForm.submitted || trashPounds.dirty || trashPounds.touched) && trashPounds.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- Net Received Pounds -->
        <div class="col-md-4">
          <label for="netReceivedPounds" class="required fw-semibold fs-6 mb-2">Libras recibidas Netas</label>
          <input type="text" id="netReceivedPounds" name="netReceivedPounds"
            [(ngModel)]="companySaleModel.netReceivedPounds" #netReceivedPounds="ngModel"
            class="form-control form-control-sm" required (keypress)="validateNumber($event)"
            (blur)="formatDecimal('netReceivedPounds')" />
          <div
            *ngIf="(saleForm.submitted || netReceivedPounds.dirty || netReceivedPounds.touched) && netReceivedPounds.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- Processed Pounds -->
        <div class="col-md-4">
          <label for="processedPounds" class="required fw-semibold fs-6 mb-2">Libras Procesadas</label>
          <input type="text" id="processedPounds" name="processedPounds" [(ngModel)]="companySaleModel.processedPounds"
            #processedPounds="ngModel" class="form-control form-control-sm" required (keypress)="validateNumber($event)"
            (blur)="formatDecimal('processedPounds')" />
          <div
            *ngIf="(saleForm.submitted || processedPounds.dirty || processedPounds.touched) && processedPounds.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- Performance -->
        <div class="col-md-4">
          <label for="performance" class="required fw-semibold fs-6 mb-2">Rendimiento</label>
          <div class="input-group input-group-sm">
            <input type="text" id="performance" name="performance" [(ngModel)]="companySaleModel.performance"
              #performance="ngModel" class="form-control text-end" required (keypress)="validateNumber($event)"
              (blur)="formatDecimal('performance')" />
            <span class="input-group-text">%</span>
          </div>
          <div
            *ngIf="(saleForm.submitted || performance.dirty || performance.touched) && performance.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            El campo es obligatorio.
          </div>
        </div>

        <!-- Settle Date -->
        <div class="col-md-6">
          <label for="settleDate" class="required fw-semibold fs-6 mb-2">Fecha de liquidación</label>
          <input type="date" class="form-control form-control-sm" id="settleDate" name="settleDate"
            [(ngModel)]="settleDate" #settleDateField="ngModel" required>
          <div
            *ngIf="(saleForm.submitted || settleDateField.dirty || settleDateField.touched) && settleDateField.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            La fecha de liquidación es obligatoria.
          </div>
        </div>

        <!-- Settle Time -->
        <div class="col-md-6">
          <label for="settleTime" class="required fw-semibold fs-6 mb-2">Hora de liquidación</label>
          <input type="time" class="form-control form-control-sm" [(ngModel)]="settleTime" id="settleTime"
            name="settleTime" #settleTimeField="ngModel" required>
          <div
            *ngIf="(saleForm.submitted || settleTimeField.dirty || settleTimeField.touched) && settleTimeField.errors?.['required']"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            La hora de liquidación es obligatoria.
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end::Third Section: Sale Info -->
</form>
<!-- end::Sale Form -->

<!-- Fourth Section: Company Sale Items -->
<div>
  <app-company-sale-items-listing *ngIf="!isAddingPayment" [periodId]="purchaseModel.period.id"
    [companySaleItems]="companySaleItems" [canAddItems]="!!purchaseModel.period.id"
    (companySaleItemsChange)="handleCompanySaleItemsChange($event)" />

  <!-- Submit Button inside card footer -->
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button *ngIf="canSaveCompanySale()" type="button" class="btn btn-primary" (click)="confirmSave()">
      Guardar
    </button>

    <!-- Payments List Button -->
    <button *ngIf="canAddPayments()" type="button" (click)="openPaymentsModal()" class="btn btn-secondary ms-3">
      Pagos
    </button>
  </div>
</div>
<!-- end::Fourth Section: Company Sale Items -->
