<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-1 pb-0">

    <div class="d-flex overflow-auto h-55px">
      <ul class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        ">
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/companies/new-company"
            routerLinkActive="active">
            Nueva Companía
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/companies/company-list"
            routerLinkActive="active">
            Compañías
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/settings/companies/prices"
            routerLinkActive="active">
            Lista de Precios
          </a>
          <a class="nav-link text-active-primary me-6" routerLink="/settings/companies/best-prices"
            routerLinkActive="active">
            Mejores Precios
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
