<!-- Loading Spinner -->
<div *ngIf="isLoading$ | async" class="text-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!(isLoading$ | async)" class="card card-custom">
  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto">
    <ul class="
        nav nav-stretch nav-line-tabs
        fw-bold
        border-transparent
        flex-nowrap
      " role="tablist">

      <!-- 🔹 Back Button Tab -->
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="goBack()">
          <i class="bi bi-arrow-left me-2"></i> Volver
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'Details' }"
          (click)="setActiveTab('Details')" role="tab">
          Detalles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'Payment Info' }"
          (click)="setActiveTab('Payment Info')" role="tab">
          Informaciòn de pago
        </a>
      </li>
    </ul>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body">
    <div class="tab-content pt-3">

      <!-- begin::Details -->
      <div class="tab-pane" [ngClass]="{ active: activeTab === 'Details' }">
        <div class="card mb-5 mb-xl-10">
          <div id="kt_account_broker_details" class="collapse show">
            <form novalidate class="form" #brokerForm="ngForm">
              <div class="card-body border-top p-9">

                <!-- Nombre Completo -->
                <div class="row mb-6">
                  <label class="col-lg-4 col-form-label required fw-bold fs-6">Nombre Completo</label>
                  <div class="col-lg-8">
                    <div class="row">
                      <!-- Nombres -->
                      <div class="col-lg-6 fv-row">
                        <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                          placeholder="Nombres" name="names" [(ngModel)]="brokerData.person.names" #names="ngModel"
                          required minlength="3">
                        <div
                          *ngIf="(brokerForm.submitted || names.dirty || names.touched) && names.errors?.['required']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>El nombre es obligatorio.</div>
                        </div>
                        <div
                          *ngIf="(brokerForm.submitted || names.dirty || names.touched) && names.errors?.['minlength']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>Debe tener al menos 3 caracteres.</div>
                        </div>
                      </div>
                      <!-- Apellidos -->
                      <div class="col-lg-6 fv-row">
                        <input type="text" class="form-control form-control-lg form-control-solid"
                          placeholder="Apellidos" name="lastNames" [(ngModel)]="brokerData.person.lastNames"
                          #lastNames="ngModel" required minlength="3">
                        <div
                          *ngIf="(brokerForm.submitted || lastNames.dirty || lastNames.touched) && lastNames.errors?.['required']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>Los apellidos son obligatorios.</div>
                        </div>
                        <div
                          *ngIf="(brokerForm.submitted || lastNames.dirty || lastNames.touched) && lastNames.errors?.['minlength']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>Debe tener al menos 3 caracteres.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Identificación -->
                <div class="row mb-6">
                  <label class="col-lg-4 col-form-label required fw-bold fs-6">Identificación</label>
                  <div class="col-lg-8 fv-row">
                    <input type="text" class="form-control form-control-lg form-control-solid"
                      placeholder="Identificación" name="identification" [(ngModel)]="brokerData.person.identification"
                      #identification="ngModel" required>
                    <div
                      *ngIf="(brokerForm.submitted || identification.dirty || identification.touched) && identification.errors?.['required']"
                      class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      <div>La identificación es obligatoria.</div>
                    </div>
                  </div>
                </div>

                <!-- Fecha de Nacimiento -->
                <div class="row mb-6">
                  <label class="col-lg-4 col-form-label fw-bold fs-6">Fecha de Nacimiento</label>
                  <div class="col-lg-8 fv-row">
                    <input type="date" class="form-control form-control-lg form-control-solid" name="birthDate"
                      [(ngModel)]="formattedBirthDate" (ngModelChange)="onChangeBirthDate($event)" #birthDate="ngModel">
                  </div>
                </div>

                <!-- Dirección -->
                <div class="row mb-6">
                  <label class="col-lg-4 col-form-label required fw-bold fs-6">Dirección</label>
                  <div class="col-lg-8 fv-row">
                    <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Dirección"
                      name="address" [(ngModel)]="brokerData.person.address" #address="ngModel" required minlength="3">
                    <div
                      *ngIf="(brokerForm.submitted || address.dirty || address.touched) && address.errors?.['required']"
                      class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      <div>La dirección es obligatoria.</div>
                    </div>
                    <div
                      *ngIf="(brokerForm.submitted || address.dirty || address.touched) && address.errors?.['minlength']"
                      class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      <div>Debe tener al menos 3 caracteres.</div>
                    </div>
                  </div>
                </div>

                <!-- Teléfonos -->
                <div class="row mb-6">
                  <label class="col-lg-4 col-form-label required fw-bold fs-6">Teléfonos</label>
                  <div class="col-lg-8">
                    <div class="row">
                      <!-- Teléfono fijo (opcional) -->
                      <div class="col-lg-4 fv-row">
                        <input type="tel" class="form-control form-control-lg form-control-solid mb-3"
                          placeholder="Teléfono fijo" name="phone" [(ngModel)]="brokerData.person.phone">
                      </div>
                      <!-- Celular 1 (requerido) -->
                      <div class="col-lg-4 fv-row">
                        <input type="tel" class="form-control form-control-lg form-control-solid mb-3"
                          placeholder="Celular 1" name="mobilePhone" [(ngModel)]="brokerData.person.mobilePhone"
                          #mobilePhone="ngModel" required pattern="^\+?[0-9\s\-\(\)]{7,15}$">
                        <div
                          *ngIf="(brokerForm.submitted || mobilePhone.dirty || mobilePhone.touched) && mobilePhone.errors?.['required']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>El teléfono móvil es obligatorio.</div>
                        </div>
                        <div
                          *ngIf="(brokerForm.submitted || mobilePhone.dirty || mobilePhone.touched) && mobilePhone.errors?.['pattern']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>Ingrese un número de teléfono válido.</div>
                        </div>
                      </div>
                      <!-- Celular 2 (opcional) -->
                      <div class="col-lg-4 fv-row">
                        <input type="tel" class="form-control form-control-lg form-control-solid"
                          placeholder="Celular 2" name="mobilePhone2" [(ngModel)]="brokerData.person.mobilePhone2">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Correo Electrónico -->
                <div class="row mb-6">
                  <label class="col-lg-4 col-form-label fw-bold fs-6">Correo Electrónico</label>
                  <div class="col-lg-8 fv-row">
                    <input type="email" class="form-control form-control-lg form-control-solid"
                      placeholder="Correo electrónico" name="email" [(ngModel)]="brokerData.person.email"
                      (ngModelChange)="onChangeEmail($event)" #email="ngModel"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div *ngIf="(brokerForm.submitted || email.dirty || email.touched) && email.errors?.['pattern']"
                      class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      <div>Debe ingresar un correo válido.</div>
                    </div>
                  </div>
                </div>

                <!-- Contacto de Emergencia -->
                <div class="row mb-6">
                  <label class="col-lg-4 col-form-label fw-bold fs-6">Contacto de Emergencia</label>
                  <div class="col-lg-8">
                    <div class="row">
                      <!-- Nombre del contacto -->
                      <div class="col-lg-6 fv-row">
                        <input type="text" class="form-control form-control-lg form-control-solid mb-3"
                          placeholder="Nombre contacto" name="emergencyContactName"
                          [(ngModel)]="brokerData.person.emergencyContactName" #emergencyContactName="ngModel"
                          minlength="3">
                        <div
                          *ngIf="(brokerForm.submitted || emergencyContactName.dirty || emergencyContactName.touched) && emergencyContactName.errors?.['minlength']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>Debe tener al menos 3 caracteres.</div>
                        </div>
                      </div>
                      <!-- Teléfono del contacto -->
                      <div class="col-lg-6 fv-row">
                        <input type="tel" class="form-control form-control-lg form-control-solid"
                          placeholder="Teléfono contacto" name="emergencyContactPhone"
                          [(ngModel)]="brokerData.person.emergencyContactPhone" #emergencyContactPhone="ngModel"
                          pattern="^\+?[0-9\s\-\(\)]{7,15}$">
                        <div
                          *ngIf="(brokerForm.submitted || emergencyContactPhone.dirty || emergencyContactPhone.touched) && emergencyContactPhone.errors?.['pattern']"
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                          <div>Ingrese un número de teléfono válido.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single Select de Compradores -->
                <div *ngIf="!isOnlyBuyer" class="mb-3">
                  <label for="compradores" class="required fw-semibold fs-6 mb-2">Compradores Asociados</label>

                  <!-- Wrapper to make it look like an input -->
                  <div class="form-control p-0 border rounded"
                    [ngClass]="{'is-invalid': (brokerForm.submitted || compradores.touched) && compradores.errors?.['required']}">
                    <mat-selection-list id="compradores" name="compradores" class="w-100 d-block" #compradores="ngModel"
                      [(ngModel)]="selectedBuyer" required [multiple]="false">
                      <div style="max-height: 200px; overflow-y: auto;">
                        @for (buyer of buyers; track buyer) {
                        <mat-list-option [value]="buyer">
                          {{ buyer.person.names }} {{ buyer.person.lastNames }}
                        </mat-list-option>
                        }
                      </div>
                    </mat-selection-list>
                  </div>

                  <!-- Required Validation Message -->
                  <div *ngIf="(brokerForm.submitted || compradores.touched) && compradores.errors?.['required']"
                    class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                    <div>Debe seleccionar al menos un comprador.</div>
                  </div>
                </div>

              </div>

              <!-- Botón para guardar -->
              <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="button" class="btn btn-primary" [disabled]="isLoading$|async" (click)="saveBroker()">
                  <span *ngIf="!(isLoading$|async)">Guardar Cambios</span>
                  <span *ngIf="isLoading$|async" class="indicator-progress">
                    Por favor, espere...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end::Details -->

      <!-- begin::Payment Info -->
      <div class="tab-pane" [ngClass]="{ active: activeTab === 'Payment Info' }" *ngIf="activeTab === 'Payment Info'">
        <app-payment-information [permissionRoute]="PERMISSION_ROUTE" [personId]="personId" />
      </div>
      <!-- end::Payment Info -->

    </div>
  </div>
  <!-- end::Body -->
</div>
